body{
	background-color: black;
}
*   {
	text-align: center;
}

input, label{
	color: rgb(167, 167, 167);
	padding: 8px;
	margin: 8px;
	border-radius: 5px;
	border: none;
}
input[type=text]{
	background-color: rgb(56, 56, 56);
	width: 75%;
}
input[type=button]{
	color:black;
}
#key{
	width: 20ch;
}
#encrypt{
	background-color: rgb(69, 243, 109);
}
#copy{
	background-color: rgb(53, 141, 235);
}